<div class="container mt-3">
    <div class="row">
        <div class="col-8 m-auto">
            <div class="w-100 card">
                <div class="card-header">
                    <div class="form-group">
                        <a class="mb-2 btn btn-outline-primary" routerLink="/">First page</a>
                    </div>
                    <div class="form-group">
                        <label for="group">Change Group</label>
                        <select name="" id="group" class="form-control" #t (change)="getPosts(t.value)" [ngClass]="{ 'is-invalid': show_error }">
                            <option value="" disabled>Choose</option>
                            <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="show_error">{{ message }}</div>
                    </div>
                </div>
                <div class="card-body mt-5" *ngIf="show">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Text</th>
                                <th>Group</th>
                                <th>Created</th>
                                <th>Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of posts">
                                <td>{{ post.text }}</td>
                                <td>{{ post.group.name }}</td>
                                <td>{{ post.created_at }}</td>
                                <td>{{ post.updated_at }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>